// Fonts
$font-family: 'Work Sans', Helvetica, Arial, sans-serif // Light, Regular, Bold

$font-small:  16px
$font-medium: 32px
$font-large:  48px

$font-light:   300
$font-regular: 400
$font-bold:    700

// Colors
$color-background: #23282E
$color-foreground: #F5F5F5
$color-primary: #69c5b3
$color-accent: #3898DE

// Z-Index
$z-page: 0
$z-background: 1
$z-foreground: 2
$z-content: 3

// Animation
$transition-dur: 120ms
$hover-opacity: .7
