// Fonts
$font-family: 'Work Sans', Helvetica, Arial, sans-serif // Light, Regular, Bold

$font-small:  16px
$font-medium: 32px
$font-large:  48px

$font-light:   300
$font-regular: 400
$font-bold:    700

// Colors
$color-white: #fbfcfb
$color-black: #503a43
$color-green: #69c5b3
$color-red:   #d34251
// $color-blue:  #3898de

// Z-Index
$z-page: 0
$z-background: 1
$z-foreground: 2
$z-content: 3

// Animation
$transition-dur: 120ms
$hover-opacity: .7
