/* wysiwyg
@import 'vars'
@import 'utils'


// Headings
h1, h2, h3,
h4, h5, h6
	color: inherit
	font-family: $font-family
	font-weight: $font-light
	line-height: 1.6em

h1
	font-size: $font-large

h2, h3
	font-size: $font-medium

h1, h2, h3
	margin-top: 32px
	margin-bottom: 16px

h4, h5, h6
	margin-top: 16px

	font-size: $font-medium


// Links
a
	color: $color-primary
	text-decoration: none

	transition: opacity $transition-dur

	+mouse-action
		opacity: $hover-opacity


// Paragraphs
p,
em,
strong,
time
	color: inherit
	font-family: $font-family
	font-size: $font-small
	font-weight: $font-regular
	line-height: 1.9em

	&:not(:last-of-type)
    margin-bottom: 32px