/* Home Sections

.home-section
  margin-bottom: 128px

  +e( 'icon' )
    display: block

    color: $color-primary
    text-align: center


  +e( 'title' )
    position: relative

    margin-top: 8px
    margin-bottom: 32px
    padding-bottom: 16px

    color: $color-foreground
    font-weight: $font-light
    letter-spacing: 4px
    text-align: center
    text-transform: uppercase

    &::after
      content: ''
      position: absolute
      right: 0
      bottom: 0
      left: 50%

      width: 10%
      height: 4px

      background-color: $color-foreground
      transform: translateX( -50% )


  +e( 'content' )
    max-width: 900px
    margin-left: auto
    margin-right: auto
    padding-bottom: 32px

    color: $color-foreground

    +m( 'contact' )
      margin-bottom: 32px


  +e( 'button' )
    display: block
    min-width: 128px
    width: 20%
    margin-left: auto
    margin-right: auto
    padding: 32px 16px

    background-color: $color-primary
    box-shadow: 0 2px 4px rgba( 0, 0, 0, .2 )
    transition: transform $transition-dur

    color: $color-foreground
    font-family: $font-family
    font-weight: $font-bold
    letter-spacing: 2px
    text-align: center
    text-shadow: 0 1px 2px rgba( 0, 0, 0, 0.2 )
    text-transform: uppercase

    +psuedo-background
      box-shadow: 0 4px 8px rgba( 0, 0, 0, .2 )
      opacity: 0
      transition: opacity $transition-dur

    +mouse-action
      opacity: 1 // Disable default opacity change for links
      transform: translateY( -1px )

      &::before
        opacity: 1
