/* Site page modifications

.page
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1)

  +e( 'title' )
    max-width: 900px
    margin: 32px 16px 64px

    // Hero Title Links
    & > a
      opacity: 1
      transition: opacity 120ms

      +mouse-action
        opacity: .7


@media only screen and ( min-width: 640px )
  .page__title
    margin: 64px 32px 128px

    font-size: $font-large


@media only screen and ( min-width: 960px )
  .page__title
    margin-left: 128px
    margin-right: 128px
