/* Site Social Navigation

.social
  display: flex
  flex-wrap: wrap
  padding-top: 48px

  +e( 'item' )
    display: block
    padding: 16px
    flex: 0 1 50%

    color: $color-foreground
    font-family: $font-family
    font-size: $font-small
    font-weight: $font-regular
    text-align: center


@media only screen and ( min-width: 640px )
  .social__item
      flex: 0 1 33.3%


@media only screen and ( min-width: 960px )
  .social
    flex-wrap: nowrap
