/* Site Social Navigation

.social
  display: flex
  flex-wrap: wrap
  padding-top: 48px

  +e( 'item' )
    flex: 1 1 50%
    padding-top: 16px
    padding-bottom: 16px

    color: $color-black
    font-family: $font-family
    font-size: $font-small
    font-weight: $font-regular
    text-align: center

    +psuedo-background
      background-color: $color-red
      opacity: 0
      transition: opacity 120ms

    +mouse-action
      color: $color-white

      &::before
        opacity: 1



@media only screen and ( min-width: 420px )
  .social__item
    flex: 0 1 33.333%


@media only screen and ( min-width: 640px )
  .social
    position: fixed
    top: 0
    right: 0

    flex-wrap: nowrap
    flex-direction: column
    width: 128px
    min-height: 100vh

    border-left: 1px solid $color-white

    +e( 'item' )
      flex: 0 1 auto
