/* Audio Player

.song
  position: relative


  // Progress Bar
  +e( 'progress' )
    position: relative
    height: 4px
    background-color: $color-black

    cursor: pointer

  +e( 'bar' )
    width: 100%
    height: 100%

    background-color: $color-red
    transform: scaleX( 0 )
    transform-origin: left
    transition: transform $transition-dur

  +e( 'scrubber' )
    position: absolute
    top: 50%
    left: 0

    padding: 0

    background-color: transparent
    border: none
    pointer-events: none
    transform: translateY( -50% )

    color: $color-red
    font-size: 16px
    transition: transform $transition-dur
